.animate-fill {
    animation: strokeFill 1s ease-in forwards !important;
}

@keyframes strokeFill {
    0% {
        stroke: var(--secondary-color);
    }

    50% {
        stroke: var(--primary-color);
    }

    51% {
        stroke: none;
    }

    100% {
        stroke: none;
        fill: var(--secondary-color);
    }
}
