.animate-fill {
    animation: strokeFill 1s ease-in forwards !important;
}

@keyframes strokeFill {
    0% {
        stroke: var(--secondary-color);
        stroke-dasharray: 0;
        stroke-dashoffset: 0;
    }

    50% {
        stroke: var(--primary-color);
    }

    100% {
        fill: var(--secondary-color);
    }
}
