---
import { clsx } from "clsx";
interface Props {
  heading: string;
  isFirst?: boolean;
  isLast?: boolean;
}

const { heading, isLast, isFirst } = Astro.props;
---

<>
  <div class="prose prose-sm dark:prose-invert mb-3 mt-2"><h2>{heading}</h2></div>
  <div class={
    clsx(
      "hidden sm:block relative w-2 bg-gray-200 dark:bg-gray-700",
      isFirst && "rounded-t-full",
      isLast && "rounded-b-full",
    )
  } />
  <div />
</>
