---
import Icon from "./Icon.astro";
---

<button class="dark:fill-slate-50 fill-slate-900 absolute p-2 opacity-40 hover:opacity-100 -translate-x-10 sm:-translate-x-12 sm:hover:-translate-x-14 w-10 h-10 duration-300"
        onclick="history.back();">
  <Icon icon="back" />
</button>
