---
import IconLink from "./IconLink.astro";
---

<footer class="slide-up dark:bg-black bg-gray-100 border-t dark:border-gray-700">
  <section id="contact" class="px-8 py-8 space-y-6">
    <div
      class="prose prose-sm dark:prose-invert max-w-none w-none flex sm:flex-row flex-col flex-wrap justify-center gap-3 sm:gap-8 items-start sm:items-center">
      <IconLink
        icon="mail"
        url="mailto:ameerhmzx@gmail.com"
        text="Email"
      />
      <IconLink
        icon="linkedin"
        url="https://www.linkedin.com/in/ameerhmzx"
        text="Linkedin"
      />
      <IconLink
        icon="twitter"
        url="https://www.twitter.com/ameerhmzx"
        text="Twitter"
      />
      <IconLink
        icon="github"
        url="https://www.github.com/ameerhmzx"
        text="Github"
      />
    </div>
  </section>
</footer>
