---
import { clsx } from "clsx";
export interface Props {
  icon: string;
}

const { icon, className } = Astro.props as Props;
const { default: innerHTML } = await import(`../icons/${icon}.svg?raw`);
---

<span class={clsx("w-4 h-4 aspect-square fill-current", className)}>
  <Fragment set:html={innerHTML} />
</span>
