---
import Icon from "./Icon.astro";
import { Image } from "astro:assets";

interface Props {
  icon: string | object;
  transitionName?: string;
}

const { icon, transitionName } = Astro.props;

const isImg = typeof icon === "object";
let svg;
if (!isImg && typeof icon === "string") svg = icon.replace(/\.svg$/, "");
---

<span
  transition:name={transitionName ?? `icon-${icon}`}
  class="inline-flex items-stretch justify-stretch h-9 shrink-0 w-9 p-1 overflow-hidden object-contain rounded-full bg-gray-100 dark:bg-gray-700 ring-1 ring-gray-300 dark:ring-gray-600">
  {isImg ?
    (
      <Image class="!m-0" src={icon} alt="project logo" />
    ) : (
      <Icon className="!w-full !h-full" icon={svg} />
    )
  }
</span>
