---
import { getCollection } from "astro:content";
import ProjectCard from "./ProjectCard.astro";
import Icon from "./Icon.astro";
import Button from "./Button.astro";
import SectionLayout from "@layouts/SectionLayout.astro";

const featuredProjectSlugs = [
  "rashcam", "advertizers",
];

const featuredProjects = await getCollection("projects", ({ data, slug }) => {
  return (import.meta.env.PROD ? data.draft !== true : true) && featuredProjectSlugs.includes(slug);
});
featuredProjects.sort((a, b) => b.data.startDate - a.data.startDate);
---

<SectionLayout id="projects" title="Projects">
  <div class="grid sm:grid-cols-1 max-w-5xl w-full self-center mt-4 gap-4">
    {featuredProjects.map((project) => (
      <ProjectCard showTransition project={project} />
    ))}
  </div>
  <div class="flex justify-center flex-wrap-reverse gap-4 items-center">
    <Button variant="text" href="/projects">
      View all projects
      <Icon slot="end-icon" icon="code" />
    </Button>
  </div>
</SectionLayout>
