---
import { ViewTransitions } from "astro:transitions";
import Footer from "../components/Footer.astro";
import { clsx } from "clsx";

interface Props {
  title: string;
  description?: string;
  className?: string;
}

const { title, description, className } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-white dark:bg-gray-950">
<head>
  <meta charset="UTF-8" />
  <meta name="description" content={description} />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <title>{title} | Ameer Hamza Naveed</title>
  <ViewTransitions fallback="swap" />
</head>
<body class="overflow-x-hidden group/body">
<main class={clsx("min-h-[100dvh] min-w-[100dvw] pb-16", className)}>
  <slot />
</main>
<Footer />
</body>
</html>

<style is:global>
    @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600&display=swap');

    @font-face {
        font-family: 'Blender Pro';
        src: url('/fonts/Blender-Pro-Heavy.ttf') format('truetype');
    }

    .gradient-animate {
        @apply bg-gradient-to-br animate-gradient-xy dark:from-indigo-500 from-indigo-300 dark:via-purple-200 via-purple-500 to-sky-500 dark:to-sky-400;
    }

    a {
        @apply underline-offset-2 hover:underline-offset-4 duration-300;
    }

    .link {
        @apply relative mr-5 inline-flex items-center;
    }

    .link:after {
        content: url('/images/arrow.svg');
        @apply absolute h-4 w-auto aspect-square filter dark:invert  duration-300
        -right-2 hover:-right-4 group-hover:-right-4
        scale-[10%] hover:scale-[70%] group-hover:scale-[70%]
        opacity-0 hover:opacity-80 group-hover:opacity-80
        hover:-rotate-[25deg] group-hover:-rotate-[25deg];
    }

    .slide-up {
        animation: SlideUp forwards;
        animation-timeline: view();
        animation-range: 0vh 30vh
    }

    @keyframes SlideUp {
        0% {
            transform: translateY(100%);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
</style>

<script
  is:inline
  async
  src="https://stats.sx.ameerhmzx.com/script.js"
  data-website-id="18a44ff1-f204-445d-a8ba-95826fd74095"
  data-domains="ameerhmzx.com"
/>

<script>
  const track = () => umami.track(props => ({ ...props, url: location.pathname }));
  document.removeEventListener("astro:after-swap", track);
  document.addEventListener("astro:after-swap", track);
</script>
